// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

#navi {
    padding-left: 120px;
}

#nlink {
    padding-left: 90px;
}

#title {
    padding-top: 80px;
    padding-left: 40px;
}


